In [7]:
# tuples
a = (1,2)
print(*a)
a = 1,2 # same as above
print(type(a))
b,c = 3,4

1 2
<class 'tuple'>

In [10]:
# access tuple elements
# same as list 
# tuples are immutable
# tuple functions
a = (1,2,3)
b = 4,5
for i in a:
    print(i)

1
2
3

In [12]:
1 in a

True

In [13]:
1 in b

False

In [14]:
len(a)

3

In [17]:
c = a+b # concatination
c

(1, 2, 3, 4, 5)

In [19]:
d = (a,b)
d

((1, 2, 3), (4, 5))

In [22]:
e = a*4 #repitation 
e

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [24]:
max(a) # all are same type | comparable

3

In [26]:
min(a) # all are same type

1

In [28]:
l = [1,2,3,4]
tuple(l)

(1, 2, 3, 4)

In [33]:
# variable length input
def sum(a,b,*more):
    print(a)
    print(b)
    print(more)
sum(2,3)

2
3
()

In [35]:
sum(2,3,4,4)

2
3
(4, 4)

In [37]:
def sum2(a,b,*more):
    ans = a+b
    for i in more:
        ans+=i
    return ans
sum2(2,3,4,5)

14

In [43]:
# variable output
def sum_diff(a,b):
    return a+b,a-b,a*b
c= sum_diff(4,1)
print(c)
b, c , d = sum_diff(4,1)
print(b)
print(c)
print(d)

(5, 3, 4)
5
3
4

In [49]:
# dictionaries are mutable
a = {"the":1,"a":5,100:"abc"}
print(type(a))
print(a)
len(a)
b = a.copy() # coping a to b
c = dict([("the",1),("a",1),(2,"abc")])
c

<class 'dict'>
{'the': 1, 'a': 5, 100: 'abc'}

{'the': 1, 'a': 1, 2: 'abc'}

In [51]:
d = dict.fromkeys(["abc",31,4],10)
d

{'abc': 10, 31: 10, 4: 10}

In [60]:
# accessing through loop
a = {1:2,3:4,"list":[1,23],"dict":{1:2}}
a["dict"]
a.get(1)

2

In [62]:
a.get("li") # None if not found

In [64]:
a.get("li",0) # if not present then return 0

0

In [66]:
a.keys() # all the keys

dict_keys([1, 3, 'list', 'dict'])

In [67]:
a.values() # all the values

dict_values([2, 4, [1, 23], {1: 2}])

In [69]:
a.items()

dict_items([(1, 2), (3, 4), ('list', [1, 23]), ('dict', {1: 2})])

In [71]:
# accessing through loop
for i in a:
    print(i,a[i])

1 2
3 4
list [1, 23]
dict {1: 2}

In [73]:
for i in a.values():
    print(i)

2
4
[1, 23]
{1: 2}

In [75]:
"list" in a # key check present in dict

True

In [76]:
2 in a

False

In [79]:
d = {1:2, "abc":5, "def":7}
print(d.get(0,5))

5

In [81]:
# Add and remove from Dictionary
a['tuple'] = (1,2,3)
a

{1: 2, 3: 4, 'list': [1, 23], 'dict': {1: 2}, 'tuple': (1, 2, 3)}

In [83]:
b = {3:5,"the":4,2:100}
a.update(b)
a

{1: 2,
 3: 5,
 'list': [1, 23],
 'dict': {1: 2},
 'tuple': (1, 2, 3),
 'the': 4,
 2: 100}

In [85]:
a.pop('tuple') # return and pop if present othewise error

KeyError: 'tuple'

In [92]:
# del a['tuple']
# del a
d.clear() # clear all the keys and associated values
d

{}

In [95]:
# Print all the words having freq K
words = input().split()
k = int(input())
d = dict()
# for w in words:
#     if w in d:
#         d[w]=d[w]+1
#     else:
#         d[w]=1
for w in words:
    d[w]= d.get(w,0)+1
for i in d:
    if d[i]==k:
        print(i)

This is my word and mark my word
2
my
word

In [100]:
# set 
a = {"Apple", "abc", 23} # no colon, no key
type(a)
"abc" in a
221 in a
for i in a:
    print(i)

Apple
abc
23

In [102]:
# add
a.add("temp")
a

{23, 'Apple', 'abc', 'temp'}

In [108]:
b = {1,2}
a.update(b)
a
a.remove(1) # error if not present
a
a.discard(2) # remove if present otherwise nothing happens
a

{23, 'Apple', 'abc', 'temp'}

In [117]:
# a.pop() # remove and return 
a = {23, 'Apple', 'abc', 'temp'}
a.pop()

'Apple'

In [123]:
a.clear() # clear all elements

In [143]:
a = {1,2,3,4}
b = {3,4,5,6}
# intersection
a.intersection(b)

{3, 4}

In [128]:
# union
a.union(b)

{1, 2, 3, 4, 5, 6}

In [131]:
# difference
print(a.difference(b))
print(b.difference(a))

{1, 2}
{5, 6}

In [134]:
# symetric difference
a.symmetric_difference(b)

{1, 2, 5, 6}

In [136]:
a.intersection_update(b)
a

{3, 4}

In [138]:
a.difference_update(b)
a

{1, 2}

In [142]:
a.symmetric_difference_update(b)
a

{1, 2, 3, 4}

In [144]:
a

{1, 2, 3, 4}

In [145]:
b

{3, 4, 5, 6}

In [147]:
a.issubset(b)

False

In [149]:
b.issubset(a)

False

In [151]:
c ={ 3,4}
a.issubset(c)

False

In [153]:
c.issubset(a)

True

In [154]:
s ={}
s.add(4)
s.add(4)
print(len(s))

AttributeError: 'dict' object has no attribute 'add'

In [155]:
d={}
a = [1,2,2]
d[a]=1

TypeError: unhashable type: 'list'